qtomweather/core/data/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://omweather.garage.maemo.org/schemas" xmlns:schemas="http://omweather.garage.maemo.org/schemas">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:base"/>
        <xs:element ref="schemas:iconset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="base" type="xs:string"/>
  <xs:element name="iconset" type="xs:string"/>
</xs:schema>
